* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#fefbfa, #fefaf9);
}

.navbar {
    background-color: #fdf2ee;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav_components {
    width: 85%;
    height: 50%;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: 100%;
    color: #FFFFFF;
    background-color: #F94A3D;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30%;
}

.logo h1 {
    font-size: 20px;
}

.brand {
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectins a {
    text-decoration: none;
    color: black;
}

.sectins {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.search_bar {
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.Sign_in {
    padding: 10px;
    border-radius: 10px;
    background-color: #F94A3D;
    border: none;
    color: #FFFFFF;
}

.search_bar_bg {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
}

.search_bar_bg input {
    border: none;
    margin-inline: 5px;
    border-right: 1px solid lightgray;
}

.left_content h1 span {
    color: #F94A3D;
    margin-top: -10;
}

/* hero section */

#hero {
    width: 100vw;
    height: 90vh;
    background-color: #fefaf9;
    display: flex;
    justify-content: center;
}

.left_hero {
    background-color: transparent;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
}

.left_content {
    background-color: transparent;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left_content h1 {
    font-size: 45px;
    margin: 0;
}

.left_content p {
    font-size: 15px;
}

.sub_head {
    margin-top: 60px;
    background-color: #FDECEC;
    width: 30%;
    height: auto;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.popcorn {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_head p {
    font-size: 10px;
    color: #F94A3D;
    margin-left: 10px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    color: #FFFFFF;
    background-color: #F94A3D;
}

.right_hero {
    width: 40%;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
}

.right_hero img {
    height: 80%;
    width: auto;
}


/* About us */

.about_us {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us_cont {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.best_in_town {
    margin-top: 10px;
    width: 100%;
    height: 42%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.text_content {
    /* background-color: blue; */
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_content h1 {
    font-size: 25px;
    font-weight: 600;
    color: #212244;
}

.text_content p {
    font-size: 10px;
    color: #69697B;
    font-weight: 400;
}

.card_img {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 90%;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
    margin-inline: 5px;
}

.heading {
    font-weight: 600;
    color: #212244;
}



.menu {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.menu_options{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.menu_options a {
    text-decoration: none;
    color: #212244;
    font-size: 10px;
    font-weight: 500;
}

#active {
    color: #F94A3D;
    border-bottom: 2px solid #F94A3D;
}

.menu_content{
    height: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.card2 {
    height: 85%;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
    margin-inline: 5px;
}

.card2_text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 15px;
}

.card2_text p {
    font-size: 10px;
    margin-top: 5px;
    color: #69697B;
}

.card2_img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #F94A3D;
    margin-top: 2px;
    font-size: 10px;
    background-color: transparent;
}

.price{
    color: #F94A3D;
}









/* customer ratings */

.customers_ratings {
    height: 100vh;
    width: 100vw;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratings{
    width: 80%;
    height: 70%;
    display: flex;
}

.customer_names{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating_content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll{
    width: 2px;
    height: 80%;
    background-color: red;
}

.name_card_img{
    height: 100%;
    width: 60px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}

.name_card{
    background-color: #f8f8f8;
    width: 70%;
    height: 15%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
}

.name_card_txt{
    color: #212244;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.name_card_txt h3 {
    font-size: 15px;
}

.name_card_txt p {
    font-size: 10px;
}

.cx_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    border-left: 2px solid #F94A3D;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}

.rating_content h2 {
    margin-left: 20px;
}


.cx_details h3 {
    font-size: 15px;
}

.cx_details p {
    font-size: 10px;
}

.comments{
    color: #69697B;
    font-size: 10px;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;

}


/* app */

.our_app {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app_bg{
    width: 80%;
    height: 70%;
}

.app_content {
    width: 100%;
    height: 80%;
    display: flex;
    background: url(./assets/images/food_bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.mobile_bg {
    background: url(./assets/images/Ellipse\ 2527.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50%;

}

.mobile{
    height: 150%;
    width: 50%;
    background: url(./assets/images/mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-left: 130px;
    overflow: hidden;
}


.mobile_img{
    height: 70%;
    width: 80%;
    background: url(./assets/images/mobile_img.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: -10px;
    border-radius: 50px;
}

.tag_line{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.content{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p {
    font-size: 10px;
}

.buttons{
    width: 70%;
    height: 12%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.mobile_popcorn{
    width: 20%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    margin-top: 20%;
    box-sizing: border-box;
}


.useful_links{
    width: 100vw;
    height: 30vh;
    background-color:linear-gradient( #FDF0F3, rgba(255, 253, 242, 0.50), #FDEEF3);
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}

.fotter_content{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width: 70%;
    height: 80%;
}

.table table {
    width: 100%;
    height: 100%;
}

th {
    text-align: left;
}

tr, td{
    padding: 0;
    font-size: 10px;
}

.fotter_logo{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
}

.logo_container {
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
}

.logo_container h4 {
    background-color: #F94A3D;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.name p {
    font-weight: 600;
    margin-left: 1px;
}

.fotter_logo{
    display: flex;
    flex-direction: column;
}

.para p {
    font-size: 10px;
}

.font_Awesom{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
